body {
    font-family: Wide latin;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background: #5a4141;
  }
  
  header {
    background-color: #5e1f1f;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    font-size: 120%;
  }
    header p{
      font-family:Kristen itc;
    }
  
  nav{
    text-align: center;
    padding: .8rem;
    background-color: #11517c31;
    width: 100%;
    height: 30px;
  }
  nav a {
    color: white;
    margin: 0 15px;
    font-family:Broadway;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  main h2{
    font-family:Rockwell ;

  }
  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .producto {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
  }
  
  .producto img {
    width: 100%;
    height: 300px;         /* Altura fija para todas */
    object-fit: contain;   /* Escala sin recortar ni deformar */
    display: block;
    margin: 0 auto;
  }


  
  footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #080808;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
/* margin-top: empuja los botones hacia abajo*/
  .acciones {
  margin-top: auto; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
  .ver-producto {
    display: inline-block;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #b14a57;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .ver-producto:hover {
    background-color: #b3001e;
  }


  /*I C O N O S   D E    N A V E G A C I O N*/
  .nav-iconos {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #000000;
  padding: 1rem;
}

.nav-iconos a {
  position: relative;
  color: white;
  font-size: 30px;
  text-decoration: none;
  
}

.nav-iconos a:hover {
  color: #e43737d0;
}

/* Tooltip personalizado */
.tooltip {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.nav-iconos a:hover .tooltip {
  opacity: 1;
}